---
---

<nav class="fixed top-0 left-0 w-full z-50">
  <div class="max-w-7xl mx-auto px-4 py-3 flex justify-between items-center">
    <span class="font-bold text-lg text-white">Anik Ghosh</span>
    <ul class="flex gap-4 mt-2">
      <li><a href="/portfolio/" class="text-sm text-amber-500">Home</a></li>
      <li><a href="/portfolio/about/" class="text-sm text-amber-500">About</a></li>
    </ul>
  </div>
</nav>
