---
import '../styles/global.css'
import Navbar from '../components/navbar.astro';
import AnimatedScene from '../components/AnimatedScene';
const { pageName } = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/png" href="/portfolio/favicon.png" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Anik - {pageName}</title>
	</head>
	<body>
        <Navbar></Navbar>
		<a href="/portfolio/">Home</a>
        <a href="/portfolio/about">About</a>
		<h1>{pageName}</h1>
        <slot />
		<AnimatedScene client:load />
	</body>
</html>
