---
import '../styles/global.css'
import Navbar from '../components/navbar.astro';
import AnimatedScene from '../components/AnimatedScene';
const { pageName } = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/png" href="/portfolio/favicon.png" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="generator" content={Astro.generator} />
		<title>Anik - {pageName}</title>
	</head>
	<body class="h-screen flex flex-col">
        <Navbar></Navbar>
		<AnimatedScene pageName={pageName} client:load />
	</body>
</html>
